//
//
//  Vars 
// ---------------------------------------------------------
//
//  Theme variables file
//
// -----------------------------------------------------


// colors
$color__white: #fff;
$color__black: #000;
$color__grey: #ededed;
$color__accent: #05386b;
$color__secondary: #5d5c61;

// dimensions
$container__width: 90%;
$container__width-max: 1280px;
$container__width-narrow: 960px;

//images
$bg-webpack: "../img/webpack.png";